<!-- /snippets/ajax-cart-template.liquid -->
{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajax cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
  <script id="CartTemplate" type="text/template">
  {% raw %}
    <form action="/cart" method="post" novalidate class="cart ajaxcart">
      <div class="ajaxcart__inner">
        {{#items}}
          <div class="cart-drawer--product">
            <div class="row u-verticalAlign js-ajaxcart__row " data-line="{{line}}">
              <div class="col-xs-4">
                <a href="{{url}}" class="ajaxcart__product-image"><img src="{{img}}" alt="{{name}}"></a>
              </div>
              <div class="col-xs-8">
                <div class="row">
                  <div class="col-xs-12">
                    <a href="{{url}}" class="cart-drawer--product-name ajaxcart__product-name u-capitalize">
                      {{name}}
                    </a>
                    <span class="cart-drawer--product-price">
                      {{price}}
                    </span>
                    {{#if variation}}
                      <span class="cart-drawer--product-meta">
                        {{variation}}
                      </span>
                    {{/if}}
                    {{#properties}}
                      {{#each this}}
                        {{#if this}}
                          <span class="ajaxcart__product-meta">{{@key}}: {{this}}</span>
                        {{/if}}
                      {{/each}}
                    {{/properties}}
                  </div>
                </div>
               
                <div class="row u-verticalAlign">
                  <div class="col-xs-6">
                    <div class="ajaxcart__qty">
                      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{id}}" data-qty="{{itemMinus}}" data-line="{{line}}">
                        <span class="ion-ios-minus-empty" aria-hidden="true"></span>
                        <span class="fallback-text">&minus;</span>
                      </button>
                      <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{id}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{id}}" data-line="{{line}}" data-qty="{{itemAdd}}">
                        <span class="ion-ios-plus-empty" aria-hidden="true"></span>
                        <span class="fallback-text">+</span>
                      </button>
                    </div>
                  </div>
                  <div class="col-xs-6 u-textRight">
                    <a class="js-ajaxcart--remove u-capitalize" data-qty="0" data-id="{{id}}" data-line="{{line}}">Remove</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/items}}
        {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
          <div class="col-xs-12 u-padding--3y">
            <label for="CartSpecialInstructions">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
            <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ note }}</textarea>
          </div>
        {% endraw %}{% endif %}{% raw %}
      </div>

      <div class="cart-drawer--footer ajaxcart__footer">
          <div class="col-xs-12">
            <p>{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %} {{{totalPrice}}}</p>
          </div>
          <button type="submit" class="fw-btn btn-dark btn-lg" name="checkout">
            {% endraw %}{{ 'cart.general.checkout' | t }}{% raw %}
          </button>
        {% endraw %}{% if additional_checkout_buttons %}
          <div class="additional_checkout_buttons">{{ content_for_additional_checkout_buttons }}</div>
        {% endif %}{% raw %}
      </div>
    </form>
  {% endraw %}
  </script>
  <script id="AjaxQty" type="text/template">
  {% raw %}
    <div class="ajaxcart__qty">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{id}}" data-qty="{{itemMinus}}">
        <span class="ion-ios-minus-empty" aria-hidden="true"></span>
        <span class="fallback-text">&minus;</span>
      </button>
      <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{id}}" data-qty="{{itemAdd}}">
        <span class="ion-ios-plus-empty" aria-hidden="true"></span>
        <span class="fallback-text">+</span>
      </button>
    </div>
  {% endraw %}
  </script>
  <script id="JsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="{{id}}" data-qty="{{itemMinus}}">
        <span class="ion-ios-minus-empty" aria-hidden="true"></span>
        <span class="fallback-text">&minus;</span>
      </button>
      <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <button type="button" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="{{id}}" data-qty="{{itemAdd}}">
        <span class="ion-ios-plus-empty" aria-hidden="true"></span>
        <span class="fallback-text">+</span>
      </button>
    </div>
  {% endraw %}
  </script>
