<div class="pre-footer u-darkBg u-lightCopy">
  <div class="container container-90">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3 class="u-capitalize u-letterSpacing2">
          Come on by.
        </h3>
        <div id="map"></div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 class="text-right u-capitalize u-letterSpacing2">
          What's happening?
        </h3>
      </div>
    </div>
  </div>
</div>
<footer class="footer-content u-darkBg u-lightCopy u-capitalize text-center" role="contentinfo">  
  <div class="container container-90">
    <div class="row u-vertical-align">
      <div class="col-md-4 text-center u-margincenter">
        {% if settings.footer_newsletter_enable %}
          {% if settings.newsletter_form_action != blank %}
            {% assign form_action = settings.newsletter_form_action %}
          {% else %}
            {% assign form_action = '#' %}
          {% endif %}
          <div class="mc-field-group">
            <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
              <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="newsletter-input" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
              <input type="submit" class="fw-btn btn-small btn-light" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
            </form>
          </div>
        {% endif %}
      </div>
      <div class="col-md-4 text-center">
        {% comment %}
          Loop through available payment methods and show their icons.
        {% endcomment %}
        {% unless shop.enabled_payment_types == empty %}
          <h4 class="text-center">{{ 'layout.footer.accepted_payments' | t }}</h4>
          <ul class="inline-list payment-icons">
            {% for type in shop.enabled_payment_types %}
              <li>
                <span class="icon-fallback-text">
                  <span class="icon icon-{{type}}" aria-hidden="true"></span>
                  <span class="fallback-text">{{ type | replace: '_',' '}}</span>
                </span>
              </li>
            {% endfor %}
          </ul>
        {% endunless %}
        <small>© {{ shop.name }} {{ 'now' | date: "%Y" }}</small>
      </div>
      <div class="col-md-4 text-center">
        <small>Made by <a href="http://andyeblin.com">Andy Eblin</a></small>
      </div>
    </div>
  </div>
</footer>