{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}
<div class="container-90-md container-fluid">
  <div class="row">
    <div class="cart-wrapper">
      {% if cart.item_count > 0 %}
        <h1 class="u-capitalize u-letterSpacing3 u-textCenter">{{ 'cart.general.title' | t }}</h1>
        <form action="/cart" method="post" novalidate class="cart table-wrap">
          <table class="cart-table full table--responsive">
            <thead class="cart-header cart-row hidden-xs hidden-sm">
              <th colspan="2">{{ 'cart.label.product' | t }}</th>
              <th>{{ 'cart.label.price' | t }}</th>
              <th class="u-textCenter">{{ 'cart.label.quantity' | t }}</th>
              <th class="u-textRight">{{ 'cart.label.total' | t }}</th>
              <th></th>
            </thead>
            <tbody>
              {% for item in cart.items %}
                <tr class="cart-row table__section">
                  <td data-label="{{ 'customer.order.product' | t }}">
                    <a href="{{ item.url | within: collections.all }}" class="cart__image">
                      <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}">
                    </a>
                  </td>
                  <td>
                    <a href="{{ item.url }}" class="u-capitalize">
                      {{ item.product.title }}
                    </a>
                    {% unless item.variant.title contains 'Default' %}
                      <small>{{ item.variant.title }}</small>
                    {% endunless %}

                    {% if settings.cart_vendor_enable %}
                      <p>{{ item.vendor }}</p>
                    {% endif %}
                  </td>
                  <td data-label="{{ 'cart.label.price' | t }}">
                    <span class="">
                      {{ item.price | money }}
                    </span>
                  </td>
                  <td data-label="{{ 'cart.label.quantity' | t }}">
                   <div class="cart-qty-wrapper">
                    <button type="button" class="cart-qty-adjust icon-fallback-text">
                      <span class="ion-ios-minus-empty"></span>
                      <span class="fallback-text">-</span>
                    </button>
                    <input type="text" class="cart-qty-num" value="{{ item.quantity }}" name="updates[]" id="updates_{{ item.id }}"  min="0">
                    <button type="button" class="cart-qty-adjust icon-fallback-text">
                      <span class="ion-ios-plus-empty"></span>
                      <span class="fallback-text">+</span>
                    </button>
                  </td>
                  <td data-label="{{ 'cart.label.total' | t }}" class="text-right">
                    <span class="">
                      {{ item.line_price | money }}
                    </span>
                  </td>
                  <td data-label="{{ 'cart.general.remove' | t }}">
                    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove u-lightCopy">
                      <span class="fa fa-times" aria-hidden="true"></span>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="grid cart__row">
            {% if settings.cart_notes_enable %}
              <div class="grid__item two-thirds small--one-whole">
                <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
              </div>
            {% endif %}
            <div class="grid__item text-right{% if settings.cart_notes_enable %} one-third small--one-whole{% endif %}">
              <p>
                <span class="cart__subtotal-title">{{ 'layout.cart.title' | t }} {{ 'cart.general.subtotal' | t }}</span>
                <span class=" cart__subtotal">{{ cart.total_price | money }}</span>
              </p>
              <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
              <div class="fw-btn-group">
                <input type="submit" name="update" class="fw-btn btn-light update-cart" value="{{ 'cart.general.update' | t }}">
                <input type="submit" name="checkout" class="fw-btn btn-light" value="{{ 'cart.general.checkout' | t }}">
              </div>
            </div>
          </div>
        </form>
      {% else %}
        {% comment %} If the cart is empty {% endcomment %}
        <h2>{{ 'cart.general.title' | t }}</h2>
        <p>{{ 'cart.general.empty' | t }}</p>
        <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
      {% endif %}
    </div>
  </div>
</div>