<!-- /templates/search.liquid -->
{% comment %}

  To return only products or pages in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

{% comment %}
  Set grid_results to true and set search results as a grid instead of a list.
  This works well when your search is only for products.
{% endcomment %}
{% assign grid_results = true %}

{% comment %}
  Check to enforce respond.js
{% endcomment %}
{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}

{% comment %}
  Avoid accessing search.results before the opening paginate tag.
  If you do, the pagination of results will be broken.
{% endcomment %}
{% paginate search.results by 36 %}

  <div class="container container-90">
    <div class="row">
      <div class="search-header u-padding--5y">
        {% if search.performed %}
          {% if search.results_count == 0 %}
            <h2 class="text-center">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h2>
          {% else %}
            <h2 class="text-center u-capitalize u-letterSpacing3">
              {{ 'general.search.results_for_html' | t }}
              <br/>
              For {{ search.terms }}
            </h2>
          {% endif %}
        {% else %}
          <h2 class="text-center u-capitalize u-letterSpacing3">{{ 'general.search.title' | t }}</h2>
        {% endif %}
      </div>
    </div>

    {% if search.performed %}
      {% if search.results_count > 0 and <= 3 %}
        {% assign grid_item_width = 'col-sm-12 col-md-6 col-lg-4' %}
      {% else %}
        {% unless search.results_count == 0 %}
          {% assign grid_item_width = 'col-sm-12 col-md-6 col-lg-3' %}
        {% endunless %}
      {% endif %}

      <div class="row">
        {% for product in search.results %}
          {% include 'product-col-item' %}
        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        <div class="row">
          <div class="pagination">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
          </div>
        </div>
      {% endif %}
    {% else %}
      {% include 'related-products' %}
    {% endif %}    
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="search-form u-padding--5y u-darkBg">
        {% if search.performed %}
          <h2 class="u-capitalize text-center u-letterSpacing3 u-lightCopy">Go Again?</h2>
        {% endif %}
        <div class="col-sm-10 col-sm-offset-1">
          {% include 'search-bar' %}
        </div>
      </div>
    </div>
  </div>
{% endpaginate %}

{% else %}
  {% include 'respond' %}
  {% layout none %}
{% endunless %}
